{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="main-login main-center">
					<form class="form-horizontal" method="post" action="">


						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Kullanıcı Adı</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Kullanıcı Adı Girin"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Şifre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Şifre Girin"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Şifre Onayla</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock " aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Şifre Onayla"/>
								</div>
							</div>
						</div>
                        {% csrf_token %}


                                <input type="submit" class="btn btn-outline-primary" value="Kayıt Ol">

					</form>
                         <a href="/login" ><input type="submit" class="btn btn-outline-primary" value="Giriş yap" ></a>
            </div>
        </div>
    </div>





{% endblock %}