{% extends 'base.html' %}

{% block content %}



    <div class="container">



      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Uygulamaya başlamadan önce </h1>
        <p>Uygulamaya Başlayabilmek için öncelikle kayıt olmanız gerekmektedir. Daha önce kayıt yapmışsanız giriş yaprak uygulamaya başlayabilirsiniz.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/login" role="button">Giriş yap</a>
          <a class="btn btn-lg btn-primary" href="/register" role="button">Kayıt ol</a>
        </p>

      </div>

    </div> <!-- /container -->



  {% endblock %}